@keyframes slideFormPage {
	0% {
		transform: translate(-50px);
	}

	100% {
		margin: auto 10%;
		right: 0vw;
		/* top: 2%; */
	}
}

@keyframes hammerDown {
	100% {
		transform: translateX(10px) translateY(15px) rotate(40deg);
	}
}

@keyframes hammerUp {
	100% {
		transform: translateX(-0) translateY(0) rotate(0deg);
	}
}

@keyframes animateBtn0 {
	0% {
		padding: .5rem;
	}

	25% {
		padding: .8em;
	}

	50% {
		padding: .3em;
	}

	100% {
		transform: rotate(-5deg);
	}
}

@keyframes animateBtn1 {
	0% {
		padding: .3em;
	}

	25% {
		padding: .8em;
	}

	50% {
		padding: .3em;
	}

	100% {
		transform: translateY(5px) rotate(5deg);
	}
}

@keyframes animateBtn2 {
	0% {
		padding: .3em;
	}

	25% {
		padding: .8em;
	}

	50% {
		padding: .3em;
	}

	100% {
		transform: translateY(15px) rotate(0deg);
	}
}

@keyframes animateBtn3 {
	0% {
		transform: translateY(15px);
		width: 42%;
		font-size: 1.8rem;
	}

	50% {
		transform: translateY(20px);
		width: 29%;
	}

	100% {
		transform: translateY(15px) rotate(360deg);
		width: 15%;
		font-size: .5rem;
	}
}

@keyframes animateInfo {
	0% {
		opacity: 0;
		top: 8%;
	}

	100% {
		opacity: 1;
		top: 12%;
	}
}
