body {
	margin: 0;
	background-color: #c8bca6;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

main {
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

main h1 {
	font-size: 3rem;
	letter-spacing: .1rem;
	margin-top: .5em;
	color: black;
	margin-bottom: 0;
	padding: 1rem;
	font-weight: 700;
}

main > p {
	font-size: 1.5rem;
	border: 1px solid black;
	padding: .5em;
	width: 100%;
	height: 50vh;
	overflow: scroll;
	overflow-x: hidden;
	line-height: 1.3em;
	color: black;
	background-color: #eee;
	box-shadow: 1px 3px 11px 5px rgba(0, 0, 0, 0.54);
}

form {
	gap: 10px;
	display: flex;
	position: absolute;
	top: 15rem;
	right: 100vw;
	height: 90vh;
	width: 100%;
	overflow-x: hidden;
}

section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: .5em;
	height: fit-content;
	display: flex;
	visibility: hidden;
	width: 80vw;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	background-color: #eee;
	box-shadow: 1px 3px 11px 5px rgba(0, 0, 0, 0.54);
}

#formPageOne label,
#formPageTwo label {
	font-weight: 600;
	font-size: 1.5rem;
	text-align: left;
	flex: 5 0 100%;
	margin-left: 1.5rem;
	margin-top: .5rem;
	margin-bottom: .5rem;
}

input {
	border: none;
	border-bottom: 1px solid black;
	font-size: 1.5rem;
	background-color: #eee;
}

input[name="name"] {
	width: 35%;
	margin: .5rem;
}

input[name="productType"] {
	width: 70%;
}

select {
	width: 70%;
	font-size: 1.5rem;
}

h2 {
	width: 100%;
}
.priceContainer {
	position: relative;
	display: flex;
	font-size: 1.5rem;
	text-align: left;
	flex: 5 0 50%;
	margin-left: 50px;
	margin-bottom: 10px;
	cursor: pointer;
}

input[type=radio] {
	margin: 0;
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

span {
	position: absolute;
	top: 0;
	left: -20px;
	height: 15px;
	width: 15px;
	margin: 2px;
	background-color: lightgrey;
	border-radius: 50%;
}

.priceContainer input:checked ~ span {
	background-color: lightgreen;
}

.buttonContainer {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10vh;
	margin: .5rem;
	margin-top: 1.5rem;
}

.fa-hammer {
	font-size: 2.5rem;
	position: absolute;
	top: -8%;
	left: 15%;
	animation-duration: .1s;
	animation-delay: .2s;
	animation-fill-mode: forwards;
	transform: "";
}

#lastHammer {
	transform: "";
}

button {
	width: 55%;
	padding: .3em;
	background-color: #824533;
	color: #eee;
	border: none;
	border-radius: 5rem;
	letter-spacing: .1rem;
	font-weight: 600;
	box-shadow: 6px 5px 10px 3px rgba(0, 0, 0, 0.54);
	outline: none;
	animation-duration: .2s;
	animation-fill-mode: forwards;
	animation-delay: .3s;
}

button:hover {
	background-color: #9b5d4c;
}

#progressContainer {
	height: 8vh;
	align-items: center;
	justify-content: space-around;
	z-index: 10;
	margin-top: 1rem;
	margin-bottom: 0;
	display: none;
}

.progressBox {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	font-size: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 3.5%;
	background-color: #eee;
	/* background: radial-gradient(circle, rgba(201, 149, 67, 1) 48%, rgba(148, 89, 55, 1) 90%); */
}

.progressBox:hover {
	opacity: .7;
}

.confirmationMessage {
	text-align: center;
	font-weight: 600;
}

#orderReview {
	border: 1px solid black;
	width: 80vw;
	margin: 0 auto;
	font-size: 1.5rem;
	line-height: 2rem;
	background-color: #eee;
}

#orderReview ul {
	list-style-type: none;
	margin: 0;
	padding: .5rem;
}

/* START OF KEY FRAMES------------------------------------------------------ */
@keyframes slideFormPage {
	0% {
		transform: translateX(200px);
	}

	100% {
		margin: auto 10%;
		right: 0vw;
		top: 2%;
	}
}

@keyframes hammerDown {
	100% {
		transform: translateX(12px) translateY(5px) rotate(40deg);
	}
}

@keyframes hammerUp {
	100% {
		transform: translateX(-0) translateY(0) rotate(0deg);
	}
}

@keyframes animateBtn {
	0% {
		padding: .3em;
	}

	25% {
		padding: .8em;
	}

	50% {
		padding: .3em;
	}

	100% {
		transform: rotate(-5deg);
	}
}

@keyframes animateBtn2 {
	0% {
		padding: .3em;
	}

	25% {
		padding: .8em;
	}

	50% {
		padding: .3em;
	}

	100% {
		transform: translateY(5px) rotate(5deg);
	}
}

@keyframes animateBtn3 {
	0% {
		padding: .3em;
	}

	25% {
		padding: .8em;
	}

	50% {
		padding: .3em;
	}

	100% {
		transform: translateY(15px) rotate(0deg);
	}
}

@keyframes animateBtn4 {
	0% {
		transform: translateY(15px);
	}

	50% {
		transform: translateY(20px);
	}

	100% {
		transform: translateY(15px);
	}
}
/* START OF MEDIA QUERIES-------------------------------------------------- */

@media only screen and (min-width: 360px) {
	section {
		margin-top: 8%;
	}

	button {
		font-size: 1.8rem;
	}
}

@media only screen and (min-width: 375px) {
	.fa-hammer {
		top: -5%;
	}
}

@media only screen and (min-width: 411px) {
	.fa-hammer {
		font-size: 3rem;
		top: -8%;
	}
	input,
	select {
		padding: .4rem;
	}
}

@media only screen and (min-width: 500px) {
	input[name="email"],
	input[name="location"] {
		width: 70%;
	}
}

@media only screen and (min-width: 768px) {
	html {
		font-size: 80%;
	}

	main > p {
		padding: .8em;
	}

	button {
		font-size: 2rem;
	}
}

@media only screen and (min-width: 1000px) {
	.fa-hammer {
		top: 10%;
	}

	input,
	select {
		padding: 1rem;
	}
}

@media only screen and (min-width: 1200px) {
	html {
		font-size: 75%;
	}

	main {
		padding: 0 25em;
	}

	main h1 {
		font-size: 4rem;
	}

	main > p {
		border: none;
		height: fit-content;
		overflow: hidden;
		padding-top: 1rem;
		line-height: 1.3em;
		font-size: 2rem;
	}

	button {
		padding: 1rem;
	}

	#progressContainer {
		justify-content: center;
		gap: 5%;
	}

	.progressBox {
		width: 6rem;
		height: 6rem;
		font-size: 3rem;
	}

	section {
		margin-top: 2%;
		padding: 3rem;
		width: 45vw;
	}

	.buttonContainer {
		margin-top: 4rem;
	}

	.fa-hammer {
		font-size: 3.5rem;
		top: -30%;
		left: 20%;
	}

	#messageBox {
		width: 80rem;
		font-size: 1.5rem;
	}

	@keyframes slideFormPage {
		0% {
			transform: translateX(200px);
		}

		100% {
			/* margin: 5.5% 10%; */
			margin: -3rem 28%;
			right: 0vw;
		}
	}

	@keyframes animateBtn {
		0% {
			padding: 1rem;
		}

		25% {
			padding: 1.5rem;
		}

		50% {
			padding: 1rem;
		}

		100% {
			transform: rotate(-5deg);
		}
	}

	@keyframes animateBtn2 {
		0% {
			padding: 1rem;
		}

		25% {
			padding: 1.5rem;
		}

		50% {
			padding: 1rem;
		}

		100% {
			transform: translateY(15px) rotate(5deg);
		}
	}

	@keyframes animateBtn3 {
		0% {
			padding: .3em;
		}

		25% {
			padding: .8em;
		}

		50% {
			padding: .3em;
		}

		100% {
			transform: translateY(25px) rotate(0deg);
		}
	}

	@keyframes animateBtn4 {
		0% {
			transform: translateY(25px);
		}

		50% {
			transform: translateY(30px);
		}

		100% {
			transform: translateY(25px);
		}
	}
}
