body {
	margin: 0;
	background-color: #eee;
	height: 100vh;
}

main {
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
	width: 100%;
}

h1 {
	text-align: center;
}

main h1 {
	font-size: 3rem;
	letter-spacing: .1rem;
	margin-top: .5em;
	color: black;
	margin-bottom: 0;
	padding: 1rem;
	font-weight: 700;
}

main > p {
	font-size: 2rem;
	border: 1px solid black;
	padding: .5em;
	width: 100%;
	height: 50vh;
	overflow: scroll;
	overflow-x: hidden;
	line-height: 1.3em;
	color: black;
	background-color: white;
	box-shadow: 1px 3px 11px 5px rgba(0, 0, 0, 0.54);
}

form {
	gap: 10px;
	display: flex;
	position: absolute;
	top: 15rem;
	right: 100vw;
	height: 100vh;
	width: 100%;
	overflow-x: hidden;
	margin: 0;
}

section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: .5em;
	height: fit-content;
	display: flex;
	visibility: hidden;
	width: 80vw;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	/* animation-timing-function: ease-in-out; */
	background-color: white;
	box-shadow: 1px 3px 11px 5px rgba(0, 0, 0, 0.54);
	position: absolute;
	top: 20vh;
	right: -5rem;
}

#formPageOne label,
#formPageTwo label {
	font-weight: 600;
	font-size: 1.5rem;
	text-align: left;
	flex: 5 0 100%;
	margin-left: 1.5rem;
	margin-top: .5rem;
	margin-bottom: .5rem;
}

input {
	border: none;
	border-bottom: 1px solid black;
	font-size: 1.5rem;
	background-color: white;
}

input[name="name"] {
	width: 35%;
	margin: .5rem;
}

input[name="productType"] {
	width: 70%;
}

select {
	width: 70%;
	font-size: 1.5rem;
}

h2 {
	width: 100%;
}

#infoContainer {
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: flex-end;
}

#infoIcon {
	text-align: center;
	height: 2.5rem;
	width: 2.5rem;
	font-size: 2rem;
	background-color: #824533;
	color: white;
	border-radius: 50%;
	text-align: center;
	outline: none;
	cursor: pointer;
}

#infoIcon:hover {
	background-color: #9b5d4c;
}

#infoIcon:focus {
	border: 2px solid black;
}
#infoSheet {
	font-size: 4.2vw;
	padding: 1.5rem;
	background-color: lightgrey;
	z-index: 9;
	position: absolute;
	left: -1%;
	width: 90%;
	height: fit-content;
	overflow: auto;
	overflow-x: hidden;
	margin: .5rem;
	display: flex;
	flex-wrap: wrap;
	justify-items: flex-end;
	/* visibility: hidden; */
	opacity: 0;
	background-color: #464625;
	color: white;
	border-radius: 40px 0px 40px 40px;
	box-shadow: 5px -4px 6px 0px rgba(0, 0, 0, 0.56);

	animation-duration: .3s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
}

.priceContainer {
	position: relative;
	display: flex;
	font-size: 1.5rem;
	text-align: left;
	flex: 5 0 50%;
	margin-left: 50px;
	margin-bottom: 10px;
	cursor: pointer;
}

input[type=radio] {
	margin: 0;
	position: absolute;
	opacity: 1;
	cursor: pointer;
	opacity: 0;
}

span {
	position: absolute;
	top: 0;
	left: -30px;
	height: 1.5rem;
	width: 1.5rem;
	margin: 2px;
	background-color: lightgrey;
	border-radius: 50%;
	border: 1px solid black;
}

.priceContainer input:checked ~ span {
	background-color: #333;
}

.buttonContainer {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	height: 20vh;
	margin-top: 1rem;
}

.fa-hammer {
	font-size: 3.5rem;
	position: absolute;
	top: 10%;
	left: 20%;
	animation-duration: .1s;
	animation-delay: .2s;
	animation-fill-mode: forwards;
	transform: "";
	z-index: 8;
}

button {
	width: 55%;
	font-size: 1.8rem;
	height: fit-content;
	padding: 1rem;
	background-color: #824533;
	color: #eee;
	border: none;
	border-radius: 5rem;
	letter-spacing: .1rem;
	font-weight: 600;
	box-shadow: 6px 5px 10px 3px rgba(0, 0, 0, 0.54);
	animation-duration: .2s;
	animation-fill-mode: forwards;
	animation-delay: .3s;
	align-self: center;
	outline: none;
}

button:hover {
	background-color: #9b5d4c;
}

#progressContainer {
	height: 8vh;
	align-items: center;
	justify-content: space-around;
	z-index: 10;
	margin-bottom: 0;
	display: none;
	height: fit-content;
	position: sticky;
}

.progressBox {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	font-size: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1%;
	background-color: #eee;
	border: 2px solid #333;
	outline: none;
}

.progressBox:focus {
	opacity: .6;
}

.progressBox:hover {
	opacity: .6;
}

.confirmationMessage {
	text-align: center;
	font-weight: 600;
}

#orderReview {
	border: 1px solid black;
	width: 50vw;
	margin: 0 auto;
	font-size: 1.5rem;
	line-height: 2.3rem;
	background-color: white;
}

#orderReview ul {
	list-style-type: none;
	margin: 0;
	padding: .5rem;
}
