@media only screen and (min-width: 411px) {
	input,
	select {
		padding: .4rem;
	}

	#infoSheet {
		left: 1%;
	}

	.fa-hammer {
		font-size: 4rem;
	}
}

@media only screen and (min-width: 500px) {
	input[name="email"],
	input[name="location"] {
		width: 70%;
	}
}

@media only screen and (min-width: 768px) {
	html {
		font-size: 80%;
	}

	main > p {
		padding: .8em;
	}

	button {
		font-size: 2rem;
	}

	section {
		animation-timing-function: ease-in-out;
	}
}

@media only screen and (min-width: 1000px) {
	input,
	select {
		padding: 1rem;
	}

	main p {
		font-size: 3rem;
	}

	#infoSheet {
		top: 12%;
		/* left: 1%; */
	}

	#infoSheet p {
		font-size: 2rem;
	}
}

@media only screen and (min-width: 1200px) {
	html {
		font-size: 75%;
	}

	main {
		padding: 0 25em;
	}

	main h1 {
		font-size: 4rem;
	}

	main > p {
		border: none;
		height: fit-content;
		overflow: hidden;
		padding-top: 1rem;
		line-height: 1.3em;
		font-size: 2rem;
	}

	#progressContainer {
		justify-content: center;
		gap: 5%;
	}

	.progressBox {
		width: 6rem;
		height: 6rem;
		font-size: 3rem;
	}

	section {
		margin-top: 2%;
		padding: 3rem;
		width: 45vw;
		top: 30vh;
	}

	#messageBox {
		width: 80rem;
		font-size: 1.5rem;
	}

	@keyframes slideFormPage {
		0% {
			transform: translateX(200px) translateY(-50px);
		}

		100% {
			/* margin: 5.5% 10%; */
			margin: -3rem 28%;
			right: 0vw;
		}
	}

	@keyframes animateBtn0 {
		0% {
			padding: 1rem;
		}

		25% {
			padding: 1.5rem;
		}

		50% {
			padding: 1rem;
		}

		100% {
			transform: rotate(-5deg);
		}
	}

	@keyframes animateBtn1 {
		0% {
			padding: 1rem;
		}

		25% {
			padding: 1.5rem;
		}

		50% {
			padding: 1rem;
		}

		100% {
			transform: translateY(15px) rotate(5deg);
		}
	}

	@keyframes animateBtn2 {
		0% {
			padding: .3em;
		}

		25% {
			padding: .8em;
		}

		50% {
			padding: .3em;
		}

		100% {
			transform: translateY(25px) rotate(0deg);
		}
	}

	@keyframes animateBtn3 {
		0% {
			transform: translateY(25px);
			font-size: 2rem;
			width: 42%;
		}

		50% {
			transform: translateY(30px);
			width: 29%;
		}

		100% {
			transform: translateY(25px) rotate(360deg);
			font-size: 1rem;
			width: 15%;
		}
	}
}
