#nav {
	background-color: #464625;
	width: 100%;
	height: 8vh;
	display: flex;
	justify-content: flex-end;
	padding: .5rem;
	border-bottom: 3px solid black;
}

#siteTitle {
	/* TRY TO MAKE FONT SIZE RESPONSIVE LATER, WILL NEED MEDIA QUERIES */
	font-size: 1.3rem;
	justify-self: right;
	align-self: center;
	padding: 5rem;
	color: #eee;
	font-weight: normal;
}

@media only screen and (min-width: 370px) {
	#siteTitle {
		font-size: 1.5em;
	}
}

@media only screen and (min-width: 1200px) {
	#siteTitle {
		font-size: 2.5em;
	}
}
